@import "../scss/mixin.scss";
@import "../scss/variables.scss";
@import "../scss/breakpoint.scss";
@import "../index.scss";

.movie-list {
  @include tablet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  @include mobile {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}
